#pyqzym{
	position: fixed;
	top: 70px;
	height:80%;
	min-width: 300px;
	width: 100%;
	flex: 1;
	overflow-y: scroll;
	background-color: #F5F5F5;
	align-content:  center;
}
.fanhui{
	color: #BDBDBD;
	line-height: 40px;
	margin: 0px 0px 0px 10px;
}
a:link{
	text-decoration: none;
}
#pyqbjt{
	height: 200px;
	width: 100%;
	position: fixed;
	/*box-shadow: 0px 0px 1px red;*/
}
.xj{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 8px;
	background-image: url(../img/icon/control/xiangji.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#pyqnr1{
	width: 100%;
	min-width: 300px;
	                                                   height: 400px;
	position: fixed;
	/*box-shadow: 0px 0px 1px red;*/
	display: flex;
	position: absolute;
	top: 200px;
	background-color: #F5F5F5;
	opacity: .9;
}
#pyqnr2{
	width: 100%;
	min-width: 300px;
	                                                   height: 380px;
	position: fixed;
	/*box-shadow: 0px 0px 1px red;*/
	display: flex;
	position: absolute;
	top: 410px;
	background-color: #F5F5F5;
	opacity: .9;
}
#zck{
	width: 60px;
	height: 210px;
	/*box-shadow: 0px 0px 1px red;*/
}
#yck{
	width: 240px;
	height: 210px;
	/*box-shadow: 0px 0px 1px red;*/
	align-content:  center;
}
#pyqtx1{
	width: 50px;
	height: 50px;
	margin: 5px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/photo/女孩-02.jpeg);
	background-size: cover;
}
#pyqwm{
	width:80px;
	height: 30px;
	/*box-shadow: 0px 0px 1px red;*/
	text-align: left;
	text-indent: 5px;
	line-height: 30px;
	color: #303F9F;
	text-shadow: 0px 0px 1px #303F9F;
}
#pyqwz{
	width: 240px;
	padding: 5px;
	color: #4E342E;
}
#pyqft{
	margin: 5px 0px 0px 10px;
	width: 200px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image: url(../img/L320U4284A2A_1000x500.jpg);
	background-size: cover;
}
#sjdzq{
	width: 240px;
	height: 30px;
	/*box-shadow: 0px 0px 1px red;*/
	display: flex;
	position: relative;
}
#sjq{
	text-indent: 10px;
	color: #9E9E9E;
	line-height: 30px;
}
.dzq{
	width: 50px;
	height: 25px;
	margin: 5px 0px 0px 0px ;
	position: absolute;
	right: 10px;
	display: flex;
	background-size: cover;
	box-shadow: 0px 0px 1px #424242;
}




#xingxing{
	position: absolute;
	right: -20px;
	top: -202px;
	display: flex;
	display: none;
	width: 340px;
	height: 340px;	
	background-size: cover;
	box-shadow: 0px 0px 1px #424242;
	background-image: url(../img/星星.PNG);
	z-index: 100;	
	opacity: .8;
}


.haha1{
	/*display: none;*/
	width: 25px;
	text-align: center;
	line-height: 25px;color: #424242;
	box-shadow: 0px 0px 1px #424242;
}
.haha2{
	/*display: none;*/
	width: 25px;
	text-align: center;
	line-height: 25px;color: #424242;
	box-shadow: 0px 0px 1px #424242;
}



#pyqtx2{
	width: 50px;
	height: 50px;
	margin: 5px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/photo/女孩-01.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#pyqft2{
	margin: 5px 0px 0px 10px;
	width: 300px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	display: flex;
	
}
#dyzt{
	width: 70px;
	margin: 0px 5px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
}
#dezt{
	width: 70px;
	margin: 0px 5px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#dszt{
	width: 70px;
	margin: 0px 5px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#pyqnr3{
	width: 100%;
	min-width: 300px;
	height: 210px;
	position: fixed;
	/*box-shadow: 0px 0px 1px red;*/
	display: flex;
	position: absolute;
	top: 690px;
	background-color: #F5F5F5;
	opacity: .9;
}
#pyqtx3{
	width: 50px;
	height: 50px;
	margin: 5px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image:url(../img/icon/control/头像.jpg);
	background-size: cover;
}
#pyqft3{
	margin: 5px 0px 0px 10px;
	width: 200px;
	height: 120px;
	/*box-shadow: 0px 0px 1px red;*/
	background-image: url(../img/3-160HQ43P3.jpg);
	background-size: cover;
}
#wodetx{
	width: 80px;
	height: 80px;
	position: absolute;
	top: -65px;
	right: 30px;
	border: 2px white;
	background-image: url(../img/icon/control/头像.jpg);
	background-size: cover;
	
}
#wodemz{
	width: 60px;
	height: 20px;
	position: absolute;
	top: -20px;
	right: 120px;
	text-align: right;
	line-height: 20px;
	text-shadow: 0px 0px 1px #4E342E;
	color: #4E342E;
}
.tanchukuang{
	width: 140px;
	height: 30px;
	background-color: #424242;
	position: absolute;
	right: 30px;
	top: 1px;
	opacity: .8;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 10px;
	border-radius: 5px;
	display: none;
}

.tanchukuang div:nth-child(n) {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 65px;

}
#xinxingtu{
	width: 15px;
	height: 15px;
	background-image: url(../img/icon/control/xinxingtu.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#xinxingtu2{
	width: 15px;
	height: 15px;
	background-image: url(../img/icon/control/xinxingtu.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#pingluntu{
	width: 15px;
	height:15px;
	background-image: url(../img/icon/control/pingluntu.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#dianzankuang{
	width: 240pz;
	/*height: 100px;*/
	align-content: center;/*div纵向布局*/
	position: relative;
	background-color: #E0E0E0;
	box-shadow: 0px 0px #E0E0E0;
	border-radius: 10px;
}
.dianzanren{
	width: 240px;
	height: 25px;
	border: 1px red;
	display: flex;
	justify-content: center;
	border-bottom: 1px #616161;
	line-height: 20px;
	text-shadow: 0px 0px 1px  #5D4037;
	color:  #5D4037 ;
	font-size:13px ;
}
#dianzantu{
	position: absolute;
	left: 10px;
	width: 18px;
	height: 18px;
	margin: 2px;
	background-image: url(../img/icon/moments/赞.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#dianzanrenming{
	width: 180px;
	height: 20px;
	line-height: 20px;
	text-shadow: 0px 0px 1px  #5D4037;
	color:  #5D4037 ;
	font-size:12px ;
}
#zan:hover{
	background-color: #A9A9A9;
}
#ping:hover{
	background-color: #A9A9A9;
}

.dianzanrenmingplq{
	width: 240px;
	height: 25px;
	position: absolute;
	left: 12px;
	width: 300px;
	height: 20px;
	line-height: 20px;
	text-shadow: 0px 0px 1px  #5D4037;
	color:  #5D4037 ;
	font-size:13px ;
}
#pinglunneirong{
	width: 120px;
	height: 20px;
	line-height: 20px;
	color:  #5D4037 ;
	font-size:12px ;
}
#xiaosanjiaopyq{
	position: absolute;
	top: -8px;
	left:10px ;
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #E0E0E0;
}



.dazikuang{
	display: flex;
	justify-content: center;
	display: none;
}